@import url(./main.css);

main{
    background-color: var(--color-primary-text);
}
h1{
    font-weight:normal;
}

figcaption{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70rem;
    background-color: var(--color-primary-bg);
}