@import url(./main.css);

main{
    width: auto;
    height: auto;
    background-color: var(--color-primary-text);
}

figure{
    margin-bottom: 5rem;
}
figcaption{
    display: grid;
    grid-template-columns: 30% 1fr;
    height: auto;
    width: 70rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary-bg);
}


/*partie de gauche */
.left{
    border-right: .3rem solid var(--color-secondary-bg);
}
.left h2{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: .3rem solid;
    border-color: var(--color-secondary-bg);
}

.prenom h1{
    text-align: center;
    background-color: var(--color-secondary-bg);
}

.apropos h2{
    padding-top: 1rem;
}

.apropos p{
    padding: 1rem;
}

.apropos h2,.contact h2, .contact p,.langue h2, .langue ul,.interet h2, .interet ul{
    margin: 0 1rem 0 1rem;
    list-style-type: none;
}


/*partie de droite*/


.rigth > h1{
    background-color: var(--color-secondary-bg);
    padding-left: 1rem;
}
.rigth ul li p{
    padding-left: 1rem;
    font-size: 1.5rem;
}
.rigth ol li p{
    padding-left: 1rem;
    font-size: 1.5rem;
}

.rigth ol li ul li{
    list-style-type: circle ;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.rigth ul,.rigth ol{
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 1rem;
}

.rigth li{
    padding-bottom: .5rem;
}

.competence{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.softskill li, .skill li{
    padding: 0;
}