@import url(./main.css);

main{
    width: auto;
    height: auto;
    background-color: var(--color-primary-text);
}

figure{
    margin-bottom: 5rem;
}
figcaption{
    display: grid;
    grid-template-columns: 30% 1fr;
    height: auto;
    width: 50rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary-bg);
}

section{
    margin-left: 1rem;
    margin-right: 1rem;
}
