@import url(./reset.css);

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-primary-bg);
}

header h1{
    display: flex;
    float: left;
    padding-left: 1rem;
}

header nav{
    display: flex;
    float: right;
    text-align: right;
    padding: 1rem;
}

header h1{
    display: inline-block;
    text-align: center;
}

header img {
    display: inline;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

nav li{
    width: 8rem;
    border-radius: 1rem;
    background-color: var(--color-secondary-bg);
    text-align: center;
}

/*main*/



/*footer*/
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-primary-bg);
}
