@import url(./reset.css);

/* header */
header{
    padding: .4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-primary-bg);
    justify-content: space-between;
    display: flex;
}

header h1{
    display: flex;
    float: left;
    padding-left: 1rem;
}

header nav{
    display: flex;
    float: right;
    text-align: right;
}

header h1{
    display: inline-block;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;
    float: right;
}

nav li{
    width: max-content;
    border-radius: .4rem;
    padding: 1rem 2rem;
    background-color: var(--color-secondary-bg);
    text-align: center;
}

/*main*/



/*footer*/
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
